.outerH{
    background-color: rgb(255, 255, 255);
    font-family: "Raleway", sans-serif;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
    h2{
        font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
        margin: 0;
        @media(max-width:768px)
        {
            font-size:26px;
            text-align: center;
        }
    }
    h4{
        font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
        margin:0;
    }
}
.outer-cards{
    width:95%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    padding: 20px;
    @media(max-width:768px)
    {
        grid-template-columns: 1fr;
        width:80%;
    }
}
.cardH{
    background-color: aliceblue;
    border-radius: 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 0 8px rgba(0, 19, 51, 0.3);
   /* height: 540px; */
   transition: transform 0.3s;
   p{
    color: #012970;
    font-size:1.1rem;
    font-weight:700;
   }
   @media(max-width:768px)
        {
            width:100%;
        }
}
.cardH:hover{
   transform: scale(0.97);
}
.h-image{
   width: 100%;
   border-radius: 5px;
}
.t-link{
    text-decoration: none;
}